*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
.nav-item{
    border: 2px solid white;
    margin-right: 10px;
}
#banner{
    margin: 0px;
    background-attachment: fixed;
}
#banner_container{
    padding: 0px;
    
}
#banner-container1 {
    background-image: url('./img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
  }
  

.container-fluid{
    padding: 0px;
}
#caption1{
    margin-bottom: 390px ;
    
}

#card1img{
    height: 150px;
}
#btn1{
    margin-left: 85px;
}
#card1{
    width: 25%;
}
.card{
    background-color: rgb(247, 247, 247);
    
}
.card-section {
    margin-top: 3rem; 
    gap: 4rem;        
  }
#card{
    width: 478px;
}

#card2img{
    height: 200px;
}
.card-body{
    background-color: rgb(242, 242, 242);
}
#btn2{
    margin-left:275px;
}
#caption2{
    margin-bottom: 100px ;

}
#banner-container2 {
    background-image: url('./sercives1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh; 
  }

#card9{
    width: 478px;
}
#container{
    margin: 120px;
}
#btn3{
    margin-left:54px;
}

#card10{
    margin-top: -93px;
    margin-left: 118px;
    margin-right: 119px;
    margin-bottom: 40px;
}

#img1{
    height: 400px;
}

#banner-container3 {
    background-image: url('./179212.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  
}
#para{
    opacity: 0.5;
    
    
}

#form1>div{
    opacity: 0.5;
}

#btn5{
    margin-left: -420px;
}